html {
  min-height: 100%;
  height: 100%;
}

body {
  height: 100%;
}

.canvas_container {
  display: flex;
  height: 100%;
}

canvas {
  align-self: center;
}

.toolbar_container {
  width: 60px;
  height: 300px;
  background: white;
  position: absolute;
  left: 20px;
  top: 20px;
  padding: 6px 0;
  border-radius: 6px;

  button {
    border: none;
    background: red;
    -webkit-appearance: none;
    padding: 0;
    margin: 3px 0;
    width: 100%;
    height: 60px;
    outline: none;
    
    &[disabled] {
      background: gray;
    }

    &.active {
      border: 1px solid blue;
    }

    &:hover {
      box-shadow: 0 0 3px black;
    }

    &:active {
      box-shadow: inset 0 0 3px black;
    }
  }
}
