<div class="canvas_container">
</div>

<div class="game__ui">
  <div id="orientation"></div>

  <div view="game-toolbar" class="toolbar_container">
    <button action="select-wall">Wall</button>
    <button action="select-door">Door</button>
    <button action="select-floor">Floor</button>
    <button action="select-dock">Dock</button>
  </div>
</div>
