<div class="canvas_container">
</div>

<div id="orientation"></div>

<div view="game-toolbar" class="toolbar_container">
  <button action="select-wall">Wall</button>
  <button action="select-door">Door</button>
  <button action="select-room" disabled>Room</button>
  <button action="select-orbital" disabled>Dock</button>
</div>
